gdown==5.2.1
kagglehub==1.0.0
matplotlib==3.10.8
numpy==2.4.4
opencv_python==4.13.0.92
pandas==3.0.2
Pillow==12.2.0
psutil==7.2.2
PyYAML==6.0.3
torch==2.6.0+cu124
torchinfo==1.8.0
torchvision==0.21.0+cu124
tqdm==4.67.2
ultralytics==8.4.21
